.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity ease-out 0.5s, visibility 0s ease-out 0.5s;
}

.popup__container {
    width: 430px;
    background-color: rgba(255,255,255, 1);
    color: #000;
    border-radius: 10px;
    padding: 34px 36px 36px 36px;
    position: relative;
    box-sizing: border-box;
}


.popup_opened {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s ease-out, visibility 0s ease-out;
}

.popup__close {
    background: transparent;
    background-image: url(../../images/popup_close_icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: -35px;
    top: -35px;
    border: none;
    width: 33px;
    height: 33px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.popup__close:hover {
opacity: 0.6;
}



.popup__title {
    width: 100%;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
    padding: 0;
    margin: 0 0 41px 0;
}