.cardlist.cardlist-savednews {
    padding: 62px 102px;
}

.cardlist__container.cardlist-savednews {
    margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
    .cardlist.cardlist-savednews {
        padding: 32px 40px;
    }
}

@media screen and (max-width: 500px) {
    .cardlist.cardlist-savednews {
        padding: 24px 16px;
    }
}