.footer {
    padding: 30px 106px 30px 104px;
    display: flex;
}

.footer__links {
    display: flex;
    margin-left: 41px;
}

.footer__container {
    display: flex;
}

.footer__title {
    margin-right: auto;
    font-size: 16px;
    line-height: 1.375;
    color: #B6BCBF;
}

.footer__links > a {
    align-self: center;
    text-decoration: none;
    color: #1A1B22;
    font-size: 16px;
    line-height: 1.375;
}

.footer__links > a:first-child {
    margin-right: 28px;
}

@media screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
        padding: 20px 18px 22px 16px;
    }

    .footer__links:first-of-type {
        flex-direction: column;
    }

    .footer__container {
        justify-content: space-between;
    }

    .footer__links > a {
        align-self: normal;
        margin-bottom: 10px;
    }

    .footer__links {
        margin-left: 0;
    }

    .footer__title {
        order: 3;
    }

}