.nocards {
    margin: 0;
	padding: 0;
	background-color: #F5F6F7;
    height: 282px;
    display: flex;
    justify-content: center;
    padding: 86px 0 80px 0;
}

.nocards__content {
    margin:0;
    padding: 0;
    display:flex;
    flex-direction: column;
    max-width: 356px;
}

.nocards__image {
    display: block;
    align-self: center;
}

.nocards__title {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 26px;
    line-height: 1.15;
}

.nocards__text {
    padding: 0;
    margin: 0;
    margin-top:16px;
    color: #B6BCBF;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
}

.cardlist {
    margin: 0;
	padding: 80px 104px;
	background-color: #F5F6F7;
}

.cardlist__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    margin-bottom: 64px;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    line-height: 1.15;
}

.cardlist__container {
    margin: 0;
    padding:0;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: repeat( auto-fit, 400px );
    gap: 16px;
}

.cardlist__button {
    border: none;
    outline: none;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    cursor: pointer;
    border-radius: 80px;
    width: 288px;
    padding: 20px 98px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
}

.cardlist__button:hover {
    background-color: #E8E8E8;
}

@media screen and (max-width: 1100px) {
    .cardlist__container {
        grid-template-columns: repeat( auto-fit, minmax(224px, 1fr));
    }

    .cardlist__title {
        font-size: 30px;
        line-height: 1.13;
    }

    .cardlist {
        padding: 40px;
    }

    .cardlist__button {
        width: 240px;
        padding: 16px 74px;
    }
  
}

@media screen and (max-width: 500px) {
    .cardlist {
        padding: 32px 16px 16px 16px;
    }

    .cardlist__button {
        width: 100%;
        padding: 16px 0;
        text-align: center;
    }
}